* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: VIEAvantGardeBold, sans-serif !important; */
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: bold;
}


/* -
  -
  -
  -
  - */


/* header */

header.container {
    padding: 30px 0px;
}

img.logo {
    max-width: 80px;
}

img.logo-name {
    max-width: 170px;
}

a.nav-link {
    font-family: 'Open Sans', sans-serif !important;
    color: #0084F8;
    font-size: 22px;
    margin: 0px 7px;
}

li.nav-item.buy {
    border: none;
    border-radius: 10px;
    background: #0084F8;
    padding-left: 50px;
    padding-right: 50px;
}

a.nav-link.buy {
    color: white;
}


/* -
  -
  -
  -
  - */


/* footer */

footer {
    color: white;
    /* background-image: url(../../assets/img/footer.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.container.footer {
    padding-top: 25%;
}

.col-md-6.footer {
    padding: 20px 0px;
}

p.footer {
    margin: 5px 0px;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

h3.footer {
    margin: 0px 0px 15px 0px;
    font-size: 23px;
}


/* -
  -
  -
  -
  - */


/* policy */

.container.policy {
    padding: 70px 0px;
    text-align: justify;
}

h1.policy.text-center {
    padding: 0px 0px 45px 0px;
    color: #0084F8;
    font-weight: bold;
    font-size: 55px;
}

h2.policy {
    font-size: 35px;
    font-weight: bold;
}

p.policy {
    font-size: 23px;
    line-height: 33px;
}

.col-md-6.policy {
    padding: 0px;
}


/* -
  -
  -
  -
  - */


/* pay */

.container.pay {
    padding: 70px 0px;
    text-align: justify;
}

h1.pay.text-center {
    padding: 0px 0px 45px 0px;
    color: #0084F8;
    font-weight: bold;
    font-size: 55px;
}

h2.pay {
    font-size: 35px;
    font-weight: bold;
}

p.pay {
    font-size: 23px;
    line-height: 33px;
}

.col-md-7.pay {
    padding: 0px;
}


/* -
  -
  -
  -
  - */


/* regulation */

.container.regulation {
    padding: 70px 0px;
    text-align: justify;
}

h1.regulation.text-center {
    padding: 0px 0px 45px 0px;
    color: #0084F8;
    font-weight: bold;
    font-size: 55px;
}

h2.regulation {
    font-size: 35px;
    font-weight: bold;
}

p.regulation {
    font-size: 23px;
    line-height: 33px;
}


/* -
  -
  -
  -
  - */


/* main */

.container.main {
    padding: 70px 0px;
}

.choose-size {
    margin: 20px 0px;
}

h1.main.text-center {
    padding: 0px 0px 45px 0px;
    color: #0084F8;
    font-weight: 900;
    font-size: 55px;
}

button.btn.align-self-end.main {
    width: 20%;
    position: absolute;
    margin-top: -2%;
    box-shadow: 4px 4px 1px #000000;
    background: linear-gradient(57.05deg, #0084F8 9.02%, #58C2F1 90.81%);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}


/* size */

thead.size {
    background: linear-gradient(76.73deg, #0084F8 9.02%, #58C2F1 90.81%);
    color: white;
    font-weight: bold;
}


/* choose-order */

.choose-order {
    margin: 20px 0px;
}

img.s-main {
    height: 528px;
}

img.sb-main {
    width: 88.8%;
}

.col-12.col-md-6.text-center {
    padding: 0px 40px;
}

.p-2.sale {
    color: #0084F8;
    font-size: 35px;
    font-weight: bold;
}

s {
    font-size: 25px;
}

button.btn.girl {
    background: #0084F8;
    font-size: 35px;
    border: none;
    border-radius: 10px;
    padding: 10px 70px;
    color: white;
    font-weight: bold;
}

button.btn.boy {
    background: #0084F8;
    font-size: 35px;
    border: none;
    border-radius: 10px;
    padding: 10px 70px;
    color: white;
    font-weight: bold;
}


/* order-info */

.order-info {
    margin: 20px 0px;
}

.row.order-info {
    background: linear-gradient(81.63deg, #FD3F36 9.02%, #FDE259 90.81%);
    border-radius: 20px;
    color: white;
}

h2.info {
    padding: 40px 0px;
    font-weight: 900;
    font-size: 65px;
}

.col-md-8.r {
    padding: 40px;
}

p.info {
    margin: 5px 0px;
    font-size: 24px;
}

input.info {
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 15px;
    padding: 0px 10px;
}

button.btn.info {
    width: 100%;
    background: #0084F8;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-bottom: 15px;
    transform: scale(1.5);
}

form.oder-info {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 2px 10px;
}


/* -
  -
  -
  -
  - */

@media screen and (max-width: 544px) {
    /* header */
    img.main {
        width: 90%;
    }
    img.logo {
        width: 40px;
    }
    img.logo-name {
        max-width: 120px;
    }
    img.toggle {
        width: 25px;
    }
    a.nav-link {
        font-size: 15px;
    }
    /* main */
    h1.main.text-center {
        padding: 0px 0px 25px 0px;
        font-size: 25px;
    }
    /* banner */
    button.btn.align-self-end.main {
        width: 25%;
        font-size: 7px;
    }
    .row.main-banner.justify-content-center {
        margin: 10px;
    }
    /* size */
    table.table.table-bordered.text-center {
        font-size: 15px;
    }
    .choose-size {
        margin: 0px 10px;
    }
    /* pay */
    h1.pay.text-center {
        padding: 0px 0px 25px 0px;
        font-size: 25px;
    }
    .row.pay {
        margin: 0px 10px;
    }
    h2.pay {
        font-size: 22px;
    }
    p.pay {
        font-size: 17px;
    }
    /* policy */
    h1.policy.text-center {
        padding: 0px 0px 25px 0px;
        font-size: 25px;
    }
    .row.policy {
        margin: 0px 10px;
    }
    h2.policy {
        font-size: 22px;
    }
    p.policy {
        font-size: 17px;
    }
    img.policy {
        margin: 40px;
    }
    /* regulation */
    h1.regulation.text-center {
        padding: 0px 0px 25px 0px;
        font-size: 25px;
    }
    .row.regulation {
        margin: 0px 10px;
    }
    h2.regulation {
        font-size: 22px;
    }
    p.regulation {
        font-size: 17px;
    }
    /* order-info */
    .row.order-info {
        margin: 0px 10px;
    }
    h2.info.text-center {
        font-size: 30px;
        padding: 20px 0px;
    }
    p.info {
        font-size: 20px;
    }
    button.btn.info {
        font-size: 20px;
    }
    /* order */
    .row.order-main {
        margin: 0px 10px;
    }
    .col-12.col-md-6.text-center {
        padding: 0px 49px;
    }
    .p-2.sale {
        font-size: 20px;
    }
    s {
        font-size: 15px;
    }
    button.btn.girl {
        font-size: 14px;
        margin: 0px 0px 20px 0px;
    }
    button.btn.boy {
        font-size: 14px;
        margin: 0px 0px 20px 0px;
    }
    .img-main.col-6.col-md-5 {
        display: flex;
    }
    img.sb-main {
        margin: 0px 8.4px;
    }
    img.s-main {
        height: 442px;
    }
    /* footer */
    .container.footer {
        padding-top: 80%;
    }
}